
html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#createListBlock {
    display: flex;
    justify-content: center;
}

#createListBlock * {
    margin: 0.1rem
}

#lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list {
    background-color: rgb(224, 219, 219);
    margin: 2rem 1rem 2rem 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-width: fit-content;
}

#listNameBlock {
    display: flex;
    flex-direction: row;
    min-height:fit-content;
    justify-content: center;
}

#listNameBlock h3 {
    flex-grow:1;
    text-align: center;
    background-color: grey;
}

#removeListButton {
    flex-grow: 0;
    margin: auto 0;
}

#listNameBlock + div {
    display: flex;
}

#listNameBlock + div button {
    flex-grow: 0;
}

#listNameBlock + div input {
    flex-grow: 1;
}

li {
    margin: 0 0 0.2rem 0;
    padding-right: 0;
    background-color: grey;;
}

li div {
    display: flex;
    justify-content: center;
}

li button {
    flex-grow:0;
    margin: auto 0;
}

li p {
    flex-grow: 1;
    margin: 0 1rem 0 0;
}